<% if logged_in? %>
<script type="text/javascript">
    window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
    ).html_safe %></script>
<% end %>

<script>
    window.images = {
        locPin: "<%= asset_path('map_icon.png') %>",
        downArrow: "<%= asset_path('down_arrow.png') %>"
    }
</script>

<main id="root">
</main>
