.bottom-category-nav{
    display: flex;
    border-top: 0.1rem solid #E8E8E8;
    border-bottom: 0.1rem solid #E8E8E8;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    justify-content: space-evenly;
    align-items: center;
    height: 71px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.bottom-category-nav ul{
    display: flex;
    width: 80%;
    // flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    // padding: 0 60px;
    margin: 0 auto;
    text-align: center;
}

.bottom-category-nav ul li{
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    font-size: 14px;
    color: #282828;
    font-weight: 400;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 24px;
}

.grey-background .bottom-category-nav{
    background: white;
    margin-bottom: 0;
}

.bottom-category-nav.top-category-nav{
    margin: 0 auto;
    border-top: none;
}

.bottom-category-nav.top-category-nav ul{
    // margin: 0;
    border-top: none;
    width: 70%;
    @media (max-width: 1000px) {
        width: 80%
    }
}

.top-category-nav a, .top-category-nav a:visited {
  color: #656969;
}

.top-category-nav a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.top-category-nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #034752;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;    
}

.top-category-nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.top-category-nav a:hover {
    color: #034752;
}