@font-face {
    font-family: 'RNS-B';
    src:  asset_url('../fonts/RNS-B.ttf') format('woff2');
    font-style: normal;
    font-weight: 100;
}

.top-nav{
    display: flex;
    border-bottom: 0.1rem solid #E8E8E8;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 50px;
}

.top-nav section{
    width: 33%;
    
}

.nav-container{
    display: flex;
    padding: 12px 0;
    flex-direction: row;
}

.nav-container div{
    margin: 0 15px 0 0;
}

.nav-greeting-container{
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
}

.greeting-links {
    padding: 0;
}

.greeting-links a{
    text-decoration: none;
    color: #282828;
    margin: 0 0 0 15px;
    // vertical-align: baseline;
}

.greeting-links a:hover{
    text-decoration: none;
    color: 	#034752;
    cursor: pointer;
}

.greeting-dropdown{
    display: inline-block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    margin: 0 0 0 15px;
}

.greeting-dropdown-input{
    -webkit-appearance: none;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    border: 0;
    // padding: 0;
    align-content: flex-start;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 0%;
    top: 17px;
    border: 1px solid #707070;
    margin: 0;
}

.greeting-dropdown-input:hover{
    color: 	#034752;
    cursor: pointer;
}

.greeting-dropdown-elements{
    border: 0;
    display: block;
    font-size: 14px;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    margin: 5px;
}

.greeting-dropdown-elements:hover{
    color:blue;
    text-decoration: underline;
}

.nav-container-logo {
    color: #06CE78;
    padding: 0px 0;
    font-family: RNS-B;
    font-size: 30px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.dropdown-content-show{
    display: block;
    background-color: #F7F7F6;
    min-height: 300px;
    min-width: 200px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 50px;
    border: 1px solid #707070;
    margin: 0;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

.hide {
    display: none;
}

.greeting-message{
    display: flex;
}