.all-projects-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 18px;
    
    @media (max-width: 70em) {
        grid-template-columns: repeat(2, 1fr)
    }
    
    @media (max-width: 35em) {
        grid-template-columns: repeat(1, 1fr)
    }
    
}

.project-item-container{
    border: 0.1rem solid #DCDEDD;
    // width: calc(100% * 4 / 12 )
}

.index-page {
    padding: 48px 60px 0 60px;
}

.index-page h3 {
    font-size: 22px;
    max-width: 1366px;
    margin: 0 auto 30px auto;
}

.proj-category-header{
    padding: 40px 0 40px 0;
    border-bottom: 0.1rem solid #E8E8E8;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.index-background{
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
}

.project-short-description{
    padding: 24px 18px 0;
    height: 160px;
}

.index-project-details{
    padding: 18px;
}

.project-title{
    font-size: 18px;
    margin: 0 0 6px 0;
}

.project-title:hover{
    text-decoration: underline;
}

.project-description{
    max-height: 48px;
    color: #9B9E9E;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 20px 0;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.project-author{
    font-size: 13px;
}

.index-project-details .pledge-index{
    font-size: 13px;
}

.index-stat-notes{
    color: #656969;
    font-size: 13px;
}

.locpin-index{
    max-width: 12px;
    vertical-align: baseline;
}

.loc-cat{
    margin: 18px 0 12px 0;
}

.loc{
    margin: 0 0 0 18px;
}

.proj-count{
    display: inline-block;
    color: #009E74;
    font-weight: 700;

}

.img-container img{
    object-fit: cover;
    display: inline-block;
    max-height: 100%;
    width: 100%;
}

.img-container{
    width: 100%;
    height: 230px;
}

.project-item-container a{
    text-decoration: none;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
}

.project-item-container a:visited{
    text-decoration: none;
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #282828;
}
.project-author{
    padding: 0px 18px 0;
}
